body{
    background-color: black;
    padding: 5% 15%;     
    display: flex;     
    align-items: center;     
    justify-content: space-between;
    }
.title{
    color: purple;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    top: -90px;
    left: 40%;
    font-style: italic;
      }
.logo{
    width: 100px;
    height: 100px;
     }
.Introdução{
    color: purple;
    font-size: large;
    position: relative;
    top: -60px;
     }  
 #Tabela{
    color: purple;
    font-size: large;
    position: relative;
    top: -60px;
        }
.Detalhes1{
    color: purple;
    position: relative;
    top: -60px;
         }
p{
    color: purple;
 }
 ul{
    color: purple;
   }
li{
    color: purple;
  }
.gif1{
    width: 400px;
    height: 250px;
    position: relative;
    left: 65%;
    top: -180px;
     }
.Detalhes2{
    color: purple;
    position: relative;
    top: -60px;
          }
.Horário{
    top: -60px;
        }
.gif2{
     width: 400px;
     height: 250px;
     position: relative;
     left: 65%;
     top: -200px;
     }
.Name{
    position: relative;
    left: 140px;
    top: -100px;
     }
.Cadastro{
    color: purple;
    font-size: large;
    position: relative;
    top: -65px;
         }
.Data{
    position: relative;
    left: 140px;
    top: -120px;  
     }
.Responsavel{
    position: relative;
    left: 154px;
    top: -140px;
            }
.Cpf1{
    position: relative;
    left: 95px;
    top: -160px;
    }
.Cpf2{
    position: relative;
    left: 138px;
    top: -180px;
     }
.Numero{
    position: relative;
    left: 244px;
    top: -210px;
       }
.NomedoEstudante{
    position: relative;
    top: -65px;
                }
.DatadeNascimento{
    position: relative;
    top: -85px;
                 }
.NomedoResponsavel{
    position: relative;
    top: -105px;
                  }
.CpfdoAluno{
    position: relative;
    top: -125px;
           } 
.CpfdoResponsavel{
    position: relative;
    top: -145px;
         } 
 .NumerodeTelefone{
     position: relative;
     top: -165px;
                  }
.button1{
    background-color: purple;
    color: white;
    width: 65px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    right: 180px;
    top: -140px;
        }
.NumerodeTelefone{
    position: relative;
    top: -165px;
                 }
.Numero{
    position: relative;
       }