@font-face {
    font-family: fonte da pagina;
    src: url(Pokemon\ Hollow.ttf);
           }
@font-face{
    font-family: fonte secundaria;
    src: url(Pokemon\ Solid.ttf);
          }
body{
    background-image: url(paisagem1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top top;
    background-color: rgb(160, 189, 243);
    padding: 5% 15%;     
    display: flex;     
    align-items: center;     
    justify-content: space-between;
     }
.Inicio{
    color: black;
    text-align: center;
    position: relative;
    top: -200px;
    font-family: fonte da pagina;
       }
.Introdução{
    color: black;
    text-align: center;
    font-size: large;
    padding: 20px;
    position: relative;
    top: -250px;
    font-family: fonte secundaria;
           }
.gif1{
    width: 300px;
    height: 200px;
    position: relative;
    top: -260px;
    left: 310px;
     }
.Final{
    color: black;
    text-align: center;
    position: relative;
    top: -270px;
    font-family: fonte secundaria;
      }